<div class="container" *ngIf="!isSubmitted">
  <form [formGroup]="childForm">
    <div class="form-group">
      <label>Duration</label>
      <select
        class="custom-select"
        (change)="changeDuration($event.target.value)"
        formControlName="duration"
      >
        <option [ngValue]="">Choose duration</option>
        <option *ngFor="let d of durations" [ngValue]="d"> {{ d }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Cost</label>
      <select
        class="custom-select"
        (change)="changeCost($event.target.value)"
        formControlName="cost"
      >
        <option [ngValue]="">cost</option>
        <option *ngFor="let c of costs" [ngValue]="c">{{ c }}</option>
      </select>
    </div>
    <div *ngFor="let s of sessions">
      <input type="checkbox" formControlName="session" value="s" />
      <span>{{ s }}</span>
    </div>

    <button class="btn btn-success" (click)="valueChanged()">Add</button>
  </form>
</div>
