<!-- <div class="container">
  <form [formGroup]="childForm">
    <div class="form-group">
      <label for="duration">Duration</label>
      <select
        class="custom-select"
        (change)="changeDuration($event)"
        formControlName="duration"
      >
        <option value="">Choose duartion</option>
        <option *ngFor="let duration of durations" [ngValue]="duration">{{
          duration
        }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="cost">Cost</label>
      <select
        class="custom-select"
        (change)="changeCost($event)"
        formControlName="cost"
      >
        <option value="">Choose cost</option>
        <option *ngFor="let cost of costs" [ngValue]="cost">{{ cost }}</option>
      </select>
    </div>
  </form>
</div> -->
