<div class="container">
  <form [formGroup]="subForm" *ngIf="!update">
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input
        class="form-control"
        id="firstname"
        formControlName="firstName"
        [value]="user.firstName"
      />
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input
        class="form-control"
        id="lastname"
        formControlName="lastName"
        [value]="user.lastName"
      />
      <div
        *ngIf="
          subForm.controls.lastName.errors?.required &&
          subForm.controls.lastName.touched
        "
        class="error"
      >
        *Required
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        id="email"
        class="form-control"
        formControlName="email"
        [value]="user.email"
      />
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input
        id="password"
        class="form-control"
        formControlName="password"
        type="password"
        [value]="user.password"
      />
    </div>
    <div class="form-group">
      <label>Course</label>
      <select
        class="custom-select"
        (change)="changeCourse($event.target.value)"
        formControlName="courseName"
      >
        <option value="">Angular</option>
        <option *ngFor="let course of courses" [ngValue]="course.id">{{
          course.name
        }}</option>
      </select>

      <!-- error block -->
      <div
        class="invalid-feedback"
        *ngIf="isSubmitted && courseName.errors?.required"
      >
        <sup>*</sup>Please enter your language
      </div>
    </div>

    <pr-profile-details
      *ngIf="submitted"
      (valueChange)="count($event)"
    ></pr-profile-details>
    <div class="form-group" *ngIf="sub">
      <p>Duration: {{ details.duration }}</p>

      <p>Cost: {{ details.cost }}</p>
      <p>Session: {{ details.session }}</p>
    </div>
    <button class="btn btn-primary" (click)="onUpdate()">Save Profile</button>
  </form>

  <div *ngIf="update" style="text-align:center;">
    <h3>Profile details updated successfully.</h3>
  </div>
</div>
